- content_for :page_title do
  = page_fragment "home_page_title", nil, :h1, "Home"

%p Editable textarea 1:
= page_fragment "test1"

%p Editable textarea 2:
= page_fragment "test2"

%p This fragment should be editable by a non-admin user:
= page_fragment "test3", current_user

%p Current user is admin: #{current_user && current_user.admin?}

