%h1 Page Fragments

- @grouped_pages.each do |url, page_fragments|
  %p
    %h4
      = url.blank? ? "Home Page" : url.titleize
      (#{'/' + (url || '')})
    %ul
      - page_fragments.each do |page|
        %li
          = link_to page.name.gsub('/', ' ').titleize, '/' + (page.url || '')
          [#{link_to 'delete', main_app.simple_cms_path(page.id), :method => :delete, :confirm => "Are you sure you want to delete this page?"}]

%h1 Full Pages

%ul.full_page_list
  - @full_pages.each do |full_page|
    %li
      = link_to full_page.title, '/' + full_page.name
      (#{'/' + full_page.name})
      [#{link_to 'delete', main_app.simple_cms_path(full_page.id), :method => :delete, :confirm => "Are you sure you want to delete this page?"}]
